<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans.xsd">  
  
    <!-- 配置Redis连接池 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">  
        <!--  -->
        <property name="maxTotal" value="1000"/> 
        <!-- 最大能够保持idle状态的对象数  -->
        <property name="maxIdle" value="10"/> 
        <!-- 最小能够保持idle状态的对象数  -->
        <property name="minIdle" value="1"/>
        <!-- 当池内没有返回对象时，最大等待时间  -->
        <property name="maxWait" value="30000"/> 
        <!-- 调用borrow Object方法时，是否进行有效性检查 -->
        <property name="testOnBorrow" value="true"/>
        <!-- 当调用return Object方法时，是否进行有效性检查   --> 
        <property name="testOnReturn" value="true"/> 
        
        <property name="testWhileIdle" value="true"/>
    </bean>  
    
    <!-- 初始化切片池 -->
    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool" destroy-method="destroy">
        <constructor-arg ref="jedisPoolConfig"/> 
        <constructor-arg>
            <!--如果以后需要扩展集群，只需要复制一份redis,修改端口，然后在这里配置即可-->
            <list> 
            <bean class="redis.clients.jedis.JedisShardInfo"> 
                <constructor-arg index="0" value="101.200.75.226"/>
                <constructor-arg index="1" value="6379"/>
                <constructor-arg index="2" value="instance:01"/>
            </bean>
            <!-- <bean class="redis.clients.jedis.JedisShardInfo">
                <constructor-arg index="0" value="101.200.75.226"/>
                <constructor-arg index="1" value="6380"/>
                <constructor-arg index="2" value="instance:02"/>
            </bean> 
            <bean class="redis.clients.jedis.JedisShardInfo">
                <constructor-arg index="0" value="101.200.75.226"/>
                <constructor-arg index="1" value="6381"/>
                <constructor-arg index="2" value="instance:03"/>
            </bean> -->
            </list>
        </constructor-arg>
   </bean>
        
   <!--java帮我们同步sentinel的信息，将主从信息同步到客户端来-->
   <!-- <bean class="redis.clients.jedis.JedisSentinelPool">
        <constructor-arg index="0" value="mymaster"/>
        <constructor-arg index="1">
            <set>
                <value>101.200.75.226:26379</value>
            </set>
        </constructor-arg>
        <constructor-arg index="2" ref="jedisPoolConfig"/>
    </bean -->
</beans>  